# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001

# App Configuration
NEXT_PUBLIC_APP_NAME="TransJakarta OMS"
NEXT_PUBLIC_APP_VERSION="1.0.0"

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAOA1Pq4m23ZwtvLQvp6YDRr3Hluwqx4ek
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=crowd-ease-4080d.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=crowd-ease-4080d
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=crowd-ease-4080d.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=863366897412
NEXT_PUBLIC_FIREBASE_APP_ID=1:863366897412:web:0c33e722506bbb62d7fa51
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-Q3CBZ13Z4C 